# Lectura de archivos csv con Spark

In [73]:
iris = spark.read.format("csv")\
                        .option("header","true")\
                        .option("mode","DROPMALFORMED")\
                        .option("delimiter",";")\
                        .option("inferSchema","True")\
                        .load("iris.csv")
iris.show(3)

+-------------+------------+-------------+------------+-------+
|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|Species|
+-------------+------------+-------------+------------+-------+
|          5.1|         3.5|          1.4|         0.2|      1|
|          4.9|         3.0|          1.4|         0.2|      1|
|          4.7|         3.2|          1.3|         0.2|      1|
+-------------+------------+-------------+------------+-------+
only showing top 3 rows

In [47]:
iris.printSchema()

root
 |-- SepalLengthCm: double (nullable = true)
 |-- SepalWidthCm: double (nullable = true)
 |-- PetalLengthCm: double (nullable = true)
 |-- PetalWidthCm: double (nullable = true)
 |-- Species: integer (nullable = true)

In [48]:
type(iris)

pyspark.sql.dataframe.DataFrame

In [49]:
iris.count()

150

In [50]:
iris.columns

['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [69]:
iris.describe().show()

+-------+------------------+-------------------+------------------+------------------+------------------+
|summary|     SepalLengthCm|       SepalWidthCm|     PetalLengthCm|      PetalWidthCm|           Species|
+-------+------------------+-------------------+------------------+------------------+------------------+
|  count|               150|                150|               150|               150|               150|
|   mean| 5.843333333333335| 3.0540000000000007|3.7586666666666693|1.1986666666666672|               2.0|
| stddev|0.8280661279778637|0.43359431136217375| 1.764420419952262|0.7631607417008414|0.8192319205190407|
|    min|               4.3|                2.0|               1.0|               0.1|                 1|
|    max|               7.9|                4.4|               6.9|               2.5|                 3|
+-------+------------------+-------------------+------------------+------------------+------------------+

## ¿Cómo aplicar consultas sql a un dataframe ?

In [54]:
# Registrando el dataframe como tabla

iris.registerTempTable('iris')
#iris.createTempView("iris")
#iris.createTempView("iris")

In [56]:
sqlContext.sql('select distinct Species from iris').show(5)

+-------+
|Species|
+-------+
|      1|
|      3|
|      2|
+-------+

In [53]:
# guardar permanentemente 
iris.write.saveAsTable("iris")

In [28]:
spark.catalog.listTables()

[Table(name='iris', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [27]:
spark.catalog.dropTempView("irirs")

spark.catalog.isCached("iris")

False

In [72]:
# Guardando datos en formato parquet
dataframe2.write.parquet("iris.parquet")

In [12]:
#Guarda el actual notebook como html
!jupyter nbconvert Oracle_Spark.ipynb --to html --output index.html

[NbConvertApp] Converting notebook Oracle_Spark.ipynb to html
[NbConvertApp] Writing 264700 bytes to index.html