# Filtrando datos

In [4]:
import pandas as pd 
  ## beautifull tables
from IPython.display import display
from IPython.display import Image

In [2]:
 df = pd.read_csv('iris.csv')

In [15]:
df['sepal_length'] = df['sepal_length'].astype('int64')
df['sepal_width']  = df['sepal_width'].astype('int64')
df['petal_length'] = df['petal_length'].astype('int64')
df['petal_width']  = df['petal_width'].astype('int64')

In [18]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0             5            3             1            0  setosa
1             4            3             1            0  setosa
2             4            3             1            0  setosa
3             4            3             1            0  setosa
4             5            3             1            0  setosa

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null int64
sepal_width     150 non-null int64
petal_length    150 non-null int64
petal_width     150 non-null int64
species         150 non-null object
dtypes: int64(4), object(1)
memory usage: 5.9+ KB

## Ordenando por []

In [26]:
sub = df["species"] == "setosa"
sub.count()

150

In [33]:
 df[["species","petal_width"]].head()

  species  petal_width
0  setosa            0
1  setosa            0
2  setosa            0
3  setosa            0
4  setosa            0

In [34]:
df.shape

(150, 5)

## Filtrando NaNs

In [36]:
print(df.dropna(how='any').shape)

(150, 5)

In [37]:
print(df.dropna(how='all').shape)

(150, 5)

## Tranformando dataframes