In [15]:
import os
import sys

# info del actual path de la carpeta
base_dir = os.getcwd() # En reemplazo de __file__ por os.getcwd solo para jupyter 
#base_dir = os.path.dirname(os.path.realpath(__file__))

horas = 1
minutos = 0
segundos = 60*horas + minutos*60

In [ ]:
# Parametros de coneccion
USER = "xxx"
PASS = "xxx"
HOST = "0.0.0.0"
PORT = "xxx"
SERVICE_NAME = "xxx"
DB   = 'xxx'

STRING_CON = USER+'/'+PASS+'@'+HOST+':'+PORT+'/'+SERVICE_NAME
#conn = cx_Oracle.connect(STRING_CON)

### Carga consulta

In [14]:
f = open(  base_dir + '\consulta.sql'  )
consulta = f.read()
f.close()
print(consulta)

SELECT TOP 10 * FROM TABLE

In [ ]:
import Sybase

db = Sybase.connect(HOST,USER,PASS,DB)
c = db.cursor()
c.execute("sql statement")
list1 = c.fetchall()

print list1

In [ ]:
import Sybase
#db = Sybase.connect('server','name','pass','database')
db = Sybase.connect(HOST,USER,PASS,DB)
c = db.cursor()
c.execute("sql statement")

In [ ]:
import sqlanydb

# Create a connection object, then use it to create a cursor
con = sqlanydb.connect( userid=USER , password=PASS )
cursor = con.cursor()
 
# http://infocenter.sybase.com/help/index.jsp?topic=/com.sybase.infocenter.dc01776.1602/doc/html/san1357754969055.html
# Execute a SQL string 
cursor.execute(consulta)

# Get a cursor description which contains column names
info = cursor.description
print(info)
print("Numero de columnas :  %s " % str(len(info)))

# Fetch all results from the cursor into a sequence, 
# display the values as column name=value pairs,
# and then close the connection
rowset = cursor.fetchall()
for row in rowset:
    for col in range(len(info)):
        print "%s=%s" % (info[col][0], row[col] )
    print
cursor.close()
con.close()